{%extends "base.html"%}
{%block mainblock%}
<br><br>
<div class="">
    <h1>Job List</h1>
    <hr class="border-3 w-25 d-flex justify-content-center"><br>
</div>
{%for d in data%}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3 d-flex justify-content-center mt-3 ">
            {%if d.poster%}
            <img src="{{d.poster.url}}" style="width: 75% ;height: 90%;">
            {%endif%}
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{d.title}}</h5>
                <p class="fw-bold">{{d.company}}</p>
                <p>Vaccancies : {{d.vaccancies}}</p>
                <p>Last Date : {{d.last_date}}</p>

            </div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-center flex-column ">
            <div class="">
                <a href="{%url 'editjob' d.id %}" class=" btn btn-dark">Edit</a>
                <a href="{%url 'applicationlist' d.id%}" class=" btn btn-dark">{{d.application_count}} View</a>
                <a href="{%url 'deletejob' d.id%}" class=" btn btn-secondary">Delete</a>

            </div>
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}