{%extends 'jobseeker/base.html'%}
{%block mainblock%}


<!-- section start -->

<div class="container d-flex justify-content-center">
    <div class="card p-3 py-4 col-md-8">
        <div class="text-center">
            <div class="profile mr-3">
                <div class="card"> <img class="card-img-top" src="https://i.imgur.com/K7A78We.jpg" alt="Card image cap">
                    <div class="card-body little-profile text-center">
                        <div class="pro-img">
                            {%if data.profile_pic%}
                            <img src="{{data.profile_pic.url}}" class="card-img-top" alt="..." width="130"
                                class="rounded mb-2 img-thumbnail">
                            {%endif%}
                        </div>
                    </div>
                    <h1 class="mt-2 fw-bold">{{data.user}}</h1>
                    <span class="mt-1 clearfix">Android Developer</span>

                    <hr class="line">

                    <div class="media-body mb-5 text-black ">
                        <p class="small mb-4 fw-bold "> <i class="fa fa-map-marker mr-2 fw-bold "></i>Address:
                            {{data.address}}</p>
                        <p class="card-text fw-bold ">Phone: {{data.phone}}</p>
                        <p class="card-text fw-bold ">Email: {{data.user.email}}</p>
                    </div>

                    <hr class="line">


                    <div class="row mt-3 mb-3">

                        <div class="col-md-4">
                            <h5 class="fw-bold ">Experience</h5>
                            <span class="num">{{data.experience}}</span>
                        </div>
                        <div class="col-md-4">
                            <h5 class="fw-bold ">Gender</h5>
                            <span class="num">{{data.gender}}</span>
                        </div>
                        <div class="col-md-4">
                            <h5 class="fw-bold ">Qualification</h5>
                            <span class="num">{{data.qualification}}</span>
                        </div>

                    </div>
                    <h5 class="fw-bold ">Skills</h5>
                    <small class="mt-4">{{data.skills}}</small>

                    <div class="profile mt-5">

                        <div class="card-body">
                            <a href="{{data.resume.url}}" download class="card-link btn btn-dark ">Download CV</a>
                            
                            <a href="{%url 'profileedit' request.user.profile.id%}" class="card-link  btn btn-dark">Edit profile</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}